.gif{
    border-radius: 16px;
    border: 1px solid #eee;
    display: flex;
    color: #fff;
    flex-direction: column;
    text-decoration: none;
    margin: 16px;
    width: 100%;
}

.gif

.gif h4 {
    margin: 0;
}

.gif img{
    object-fit: contain;
}